@import "base/variables";
@import "base/elements";
@import "base/lists";
@import "base/maps";
@import "base/mixins";
@import "components/header";
@import "components/footer";
@import "components/index";
@import "components/contactos";
@import "components/nosotros";
@import "components/productos";
@import "components/sucursal";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $background-color;
    background-image: $backgound-image;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    h1 {
        color: $title-color;
    }
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}