/* header */
header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5px;
    justify-items: center;
    align-items: center;
    img {
        grid-column-start: 2;
    }
}

nav {
    ul {
        list-style: none;
        li{
            display: inline-block;
            a{
                color: #fff;
                margin: 0 10px;
                font-size: 16px;
                text-decoration: none;
                &:hover {
                color: #F2C64D;
                }
            }
        }
    }
}

.imgLogo {
    animation-name: logoImgAnimation;
    animation-duration: 2s;
    width: auto;
    height: 110px;
    &:hover {
        filter: blur(0.8px) grayscale(20%);
    }
}
