header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5px;
    justify-items: center;
    align-items: center;
    img {
        grid-column-start: 2;
    }
}

nav {
    ul {
        list-style: none;
        li{
            display: inline-block;
            a{
                color: #fff;
                text-transform: uppercase;
                text-decoration: none;
                letter-spacing: 0.1em;  
                display: inline-block;
                padding: 15px 5px;
                position: relative;
                font-family: "Roboto";
                font-weight: 400;
                &:hover {
                    color: #F2C64D;
                }
                &:after {    
                    background: none repeat scroll 0 0 transparent;
                    bottom: 0;
                    content: "";
                    display: block;
                    height: 2px;
                    left: 50%;
                    position: absolute;
                    background: #F2C64D;
                    transition: width 0.35s ease 0s, left 0.35s ease 0s;
                    width: 0;
                }
                &:hover:after { 
                    width: 100%; 
                    left: 0; 
                }
            }
        }
    }
}

.imgLogo {
    animation-name: logoImgAnimation;
    animation-duration: 2s;
    width: auto;
    height: 110px;
    &:hover {
        filter: blur(0.8px) grayscale(20%);
    }
}

.menu-icon img {
    width: 40px;
    height: 40px;
    border-radius: 2px;
}

@keyframes logoImgAnimation {
    50% {transform: rotateY(180deg);}
}
